/* Thanks to https://stackoverflow.com/a/17278879 for the help getting the alignment working. Could have used any of the utilites classes inside of the chota framework but those take 100% width and wanted 3 things to be on one line.  */
.left-align
{
    float: left;
    width: 25%;
}

.centre-align
{
    float: left;
    width: 50%;
}

.right-align
{
    float: left;
    width: 25%;
}

.centre
{
    text-align: center; 
}

/* Styling on RSVP page, to ensure the places where to type in are only 60% width. Thanks to https://gitlab.com/skortekaas/PHP-SMTP-ContactForm/tree/master (under GNU Public License 3.0) for the basis of this. */
#rsvp input[type="text"],
#rsvp input[type="email"],
#rsvp textarea
{
    width: 60%;
}

/* Trying to setup dark mode and make sure colors look good on the right mode. Thanks to u/StuckOnCoboldLevel for this code. Find their original post at https://old.reddit.com/r/learnjavascript/comments/cdh5k9/attention_required/ettw952/. */
.light
{
    background-color: white;
    color: black;
}

.dark
{
    background-color: black;
    color: white;
}
.purple
{
    /* To remember Rebecca Meyer (see https://meyerweb.com/eric/thoughts/2014/06/19/rebeccapurple/ & https://www.economist.com/babbage/2014/06/23/the-colour-purple for details) */
    background-color: #663399;
    color:#94FFDF;
    
}

.light button
{
    background-color: royalblue;
}

.dark button
{
    background-color: silver;
}

.purple button
{
    background-color: #EDEDED;
}

.purple a
{
    background-color: #FFFF05;
}